
<nav class="sidebar" [class.open]="isOpen">
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">Home</a>
    </li>
    <li class="sidebar-item">
      <a href="/vehicles-page" class="sidebar-link">Vehicles</a>
    </li>
    <li class="sidebar-item">
      <a href="/drivers-page" class="sidebar-link">Drivers</a>
    </li>
    <li class="sidebar-item">
      <a href="/route-history-page" class="sidebar-link">Routes History</a>
    </li>
    <li class="sidebar-item">
      <a href="/geofences-page" class="sidebar-link">Geofences</a>
    </li>
  </ul>
</nav>
