.page-container{
    margin-top: 30px;
}

.add-vehicle-container {
  display: flex; 
  justify-content: flex-end;
  padding: 10px 30px; 
}

.add-vehicle-btn {
  margin-left: auto;
  background-color: #7600bc;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; 
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.vehicles-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px;
  padding: 20px 10px 20px;
}


.vehicle-card {
  width: 300px; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: white;
}

  .vehicle-card img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
  }


  .vehicle-card h2 {
    margin-top: 0; 
  }

  .vehicle-card p {
    margin-bottom: 0; 
  }
