.page-container {
  margin-top: 50px;
}

.selectors {
  display: flex; 
  justify-content: flex-start; 
 
  align-items: center;
  margin-bottom: 20px;
}

.date-selectors, .vehicle-selector {
  display: flex;
  align-items: center;
}

  .date-selectors label, .vehicle-selector label {
    margin-right: 10px;
    font-weight: bold;
  }

  .date-selectors input[type="date"], .vehicle-selector select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 20px;
  }


.table-container {
  grid-row: 2;
  grid-column: 2;
  overflow-y: auto;
  width:1400px;
}



.add-route-button {
  margin-left: auto;
  background-color: #7600bc;
  border: none;
  color: white;
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; 
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
